// COLORS
$color-primary: #66d3fa;
$color-primary-light: #3c99dc;
$color-primary-dark: #2565ae;
$color-grey-dark: #777;
$color-black: #000;
$color-grey-light-first: #f7f7f7;
$color-white: #ffff;
$color-grey-dark: #999;

$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-red-dark: #940a00;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
